//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/nathan/.local/share/rofi/themes/nord.rasi"
//@theme "/home/nathan/.local/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/squared-nord.rasi"
@theme "/home/nathan/.local/share/rofi/themes/squared-nord.rasi"
